extends lay.pug

block content
    #wooyoung(width=500)
        //div(id="wooyoung" width=500)
        span.express.nodejs
        button(type='submit') 전송
        if variable
            div 참입니다.
        else
            div 거짓입니다.
        for i in ['사과','배','오렌지']
            div=i
        p
            |안녕하세요
            |여러줄 입력하세요
            br
            |태그도 넣을 수 있어요!
            |그럼 이만.. ㅎㅎ
block script
    script.
        const message='pug';
        alert(message);